<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predicted</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/new.css') }}" />
    <script>
    </script>
</head>
<body>
        <!-- Main navigation -->
        <header>


          <!-- Full Page Intro -->
          <div class="view" style="background-image: url({{ url_for('static', filename='images/ortofon-vinyl.jpg') }}); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <!-- Mask & flexbox options-->
            <div class="mask rgba-gradient align-items-center">
              <!-- Content -->
              <div class="container">
                <!--Grid row-->

                <div class="row">


                  <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <h1 class="h1-responsive font-weight-bold mt-sm-5">For Given Lyrics AI predicted  </h1>
                    <hr class="hr-light">
                    <h6 class="mb-4">

                    </h6>
                        <p style="font-size: 23px">Predicted Songwriter :</p>
                      <h3 class="h1-responsive font-weight-bold mt-sm-3"> {{ Songwriter }}</h3>
                      <p style="font-size: 23px">Predicted Genre :</p>
                      <h3 class="h1-responsive font-weight-bold mt-sm-3">{{ genre }}</h3>




              </div>

                    <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft"  data-wow-delay="0.3s">
                        <iframe width="640" height="315" src={{ SongwriterLink }}></iframe>
                    <h5 style="color: white ; text-indent: 100px" class="h1-responsive font-weight-bold mt-sm-3"> {{ Songwriter }}'s Most Viewed Song in Youtube  </h5>
                </div>
              <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
          </div>
          <!-- Full Page Intro -->
        </header>
        <main>
          <div class="container">
            <!--Grid row-->
            <div class="row py-5">
              <!--Grid column-->
              <div class="col-md-12 text-center">
                <p >Please provide only turkish songs, AI will try to predict on given artists:
                <br>
                  {%for i in range(0, len)%}
                       <br>{{Songwriters[i]}}
                    {%endfor%}
                </p>
              </div>
            </div>
          </div>
        </main>

</body>













</body>
</html>
